div{ 
display: inline-block;
border: 1px solid white;
width: 200px;
height: 200px;
margin: -1.7px;
}

.div2{
    display: inline;
    border: 1px outset black;
    margin: 5px;
}

*{
    text-align: center;
    background-color: rgb(180, 121, 235);
}

.vermelho{
    background-color: rgb(243, 31, 31);
}

.azul{
    background-color: rgb(10, 171, 207); 
}

.verde{
    background-color: rgb(85, 215, 53);
}

.amarelo{
    background-color: rgb(238, 238, 77);
}

#borda{
    border: 3px solid black
}

a:hover{
color:red;
}

header{
    text-align: center;
}